*{
    /*Usado para zerar margem(margem por parte de fora) e padding(margem do lado de dentro);*/
    margin: 0;
    padding: 0;
}


/*Para me referir a id no css usa-se "#";*/
#conteudoGeral{
    margin: 3px;
    border: 2px solid #d1dcef;
    background-color: #dfecfd;
    
    /*padding: 20px;*/
}

input[type=text]{
    width: 200px;
}

#nomeContato{
    color: #486d9a;/*Color sempre muda a cor da fonte*/
    font-size: 18px;
    padding: 3px;
    margin-bottom: 12px;
    background-image: linear-gradient(to bottom,#dfecfd 0%, #dfecfd 49%, #cadcef 50%, #dfecfd 100%);
    display: block;
    font-family: "Verdana";
}

.esquerda{
    float: left;/*Flutua o elemento para determinado lado*/
    width: 45%;
    padding-left: 20px;
}

.direita{
    float: right;
    width: 49%;
    padding-right:20px;
}

.gamb{
    clear:both;
    height: 5px;
}

fieldset{
    border-top: 1px solid #486d9a;
    border-left: 0px;
    border-bottom: 0px;
    border-right: 0px;
    padding: 15px;
}

#parte3{
    padding: 20px;
}

legend{
    padding: 2px;
}

#parte4{
    text-align: center;
    padding-top: 77px;
    padding-bottom: 3px;

}

#parte4 input{
    width: 100px;
}

