

body{
    background-color: #dcdcdc;
}

#teste{
    
    float: left;/*Flutua o elemento para determinado lado*/
    width: 45%;
    padding-left: 0.8vw;
    height: 15vw;
    
}

#testa{
    float: left;
    margin-top: 18vw;
    padding-left: 1vw;
    width: 97.1vw;
    
}


#dados{
    text-align: center;
    
}


#campTab{
    
    width: 53vw;
    float: right;
    height: 10vw;    
    padding-right: 0.5vw;
}

#imagem{
    
    width:50vw; 
    height: 21vw;
}

#campoResult{
    
   width: 52.8vw;
    float: right;
    padding-right: 0.7vw;
    
}


button{
    
    background-color: white;
    border-color: white;
    border-radius: 1vw;
}
input{
    
    border-radius: 1vw;
}

fieldset{
    border-radius: 1vw;
    border-color: black;
}

#respo{
    height: 3.7vw;
}


#perg{
    height: 30.8vw;
    
}

#ip{
    border-color: red;
}
#inp{
    border-color: aqua;
}
#alomb{
    border-color: yellow;
}

#is{
    border-color: blue;
}

#rp{
    border-color: green;
}

#gs{
    border-color: deeppink;
}

legend{
    color: black;
    font-style: italic;
}